.page {
  width: 100%;
  height: 100%;
  background: linear-gradient(#6edeec, #013d55);
}
/* The interactive header at the 
top of the page */
.header {
    overflow: hidden;
    background: #76dfec;
    padding: 15px 15px;
    box-shadow: 0px 1px 1px rgb(186, 235, 255);
  }
    /* Stylizes the product name */
    .header-img {
      margin: 1px;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  
  /* Stylizes the stuff in header */
  .header a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 35px;
    font-family:  'Trebuchet MS', 'Arial';
    font-size: 20px;
    border-radius: 5px;    
    padding: 12px;
    transition: padding 2s;
  }
  .header:hover {
    box-shadow: 0px 2px 2px rgb(208, 255, 255);
    transition: 0s linear;
  
  }

  /* Changes background button color on hover */
  .header a:hover {
    background-color: rgb(172, 231, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.1s;
  }
 
 /* Float the link section to the right */
.nav-bar {
  float: right;
}
.header-img img {
  display: flex;
  justify-content: center;
  float: left;
}
.free-button {
  background: transparent;
  justify-content: flex-end;
  margin-left: 15px;
}

 /* Embedded youtube video */
 .video {
   display: flex;
   justify-content: initial;
   margin: 25px;
 }
 iframe {
  box-shadow: 5px 5px 5px rgb(97, 223, 255);
 }

.content {
 background-color: transparent;
}

/* Email Subscription Form */
.email-form {
 display: flex;  
 justify-content: center;
 margin-top: 15px;
 margin-bottom: 20px;
 margin-left: 40%;
 width: 350px;
 background: linear-gradient(#6ab8c2, #2d8db3);
 box-shadow: 0px 3px 3px 0px rgb(59, 114, 128);
 border-radius: 5px;
 /* outline: 1px solid rgb(255, 0, 0); */
}

.form-container {
  display: flex;
  color: white;
}
.subscribe-text {
  display: flex;
  color: rgb(238, 238, 238);
  text-shadow:1px 1px 2px rgb(97, 223, 255);
  justify-content: center;
}
#email {
  margin: 5px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 10px;
  background-color: rgb(109, 179, 211);
  outline: none;
}

.form-buttons {
display: flex;
color: black;
justify-content: initial;
font-size: 15px;
border-radius: 15px;
}
.form-buttons a{
  display: flex;
  margin: 5px;
  }

.flex-wrapper {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0, 51, 85);
  bottom: 0;

}

/* .footer {
  display: flex;
  flex-direction: column;
} */


/* .footer-main {
  display: flex;
  background-color: rgb(0, 51, 85);
  justify-content: center;
  width: 100%;
  position: relative;
  bottom:0;
} */


/* Mockup disclaimer */
.footer-legal {
  display: flex;
  justify-content: center;
  color: rgb(126, 126, 126);
  font-family: 'Times New Roman';
}

/* Footer links */
.links-group {
  list-style-type: none;
  margin-top: 10px;
  margin-left: 10%;
  width: 75%;
  justify-content: center;
  display: flex;
}
.links-group a{
  color: rgb(117, 156, 173);
}
.links-group a:hover{
  color: rgb(161, 216, 253);
  text-decoration: none;
  text-shadow: white;
  transition: 0.25s;
}
.links-group {
  display: flex;
  justify-content: space-between;
}



/* This condense the right-side of header
below a certain width threshold */
@media screen and (max-width: 300px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
  .page {
    max-width: 100%;
    max-height: 100%;
  }