/* The interactive header at the 
top of the page */
.header {
    overflow: hidden;
    background: #b7ceff;
    padding: 15px 15px;
  }
    /* Stylizes the product name */
    .header-img {
      margin: 1px;
      padding-left: 5px;
    }
  
  /* Stylizes the stuff in header */
  .header a {
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 35px;
    font-family:  'Arial';
    font-size: 25px;
    border-radius: 5px;    
    padding: 12px;
    transition: padding 2s;
  }

  /* Changes background button colo on hover */
  .header a:hover {
    background-color: rgb(215, 236, 253);
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.1s;
  }
 
 /* Float the link section to the right */
.nav-bar {
  float: right;
}


/* This condense the right-side of header
below a certain width threshold */
@media screen and (max-width: 700px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
 
 
 
 
 
 
 /*Changes highlighted color*/
    mark {
        background-color: rgb(190, 190, 241);
    }